@import "./app/variables.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.gp-content-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}

.gp-content-acoes {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  & > :not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: $bp-phone) {
  .gp-content-header {
    margin-bottom: 10px;
  }
}
